<div class="container">
  <div class="row">
    <div
      class="card"
      style="width: 18rem; margin-left: 2rem; margin-bottom: 2rem"
    >
      <div class="card-body">
        <a
          type="button"
          style="float: left; padding-left: 0.4rem; padding-right: 0.4rem"
          >EN</a
        >
        <h5 class="card-title text-center">{{ todo.title }}</h5>
        <p class="card-text" id="textcard">
          {{ todo.Message }}Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Fugit optio corrupti iure ut animi at sunt nobis facilis
          voluptatem. Modi, aperiam asperiores? Mollitia voluptatibus error
          quae, et laborum pariatur maxime!
        </p>
        <div class="bottom">
          <div class="upperbtn">
            <button class="btn btn-sm">preview</button>
            <button class="btn btn-sm">
              <i class="fas fa-pencil-alt"> </i> Edit
            </button>
          </div>
          <button class="btn btn-sm" (click)="onClick(todo)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
